@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

:root {
  --white: hsl(36, 33%, 97%);
  --bluishblack: hsl(221, 39%, 11%);
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 97vh;
  background: var(--white);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 30px 10px;
  user-select: none;
}

.filterWindow {
  display: flex;
  flex-direction: column;
  z-index: 9;
  position: absolute;
  height: 190px;
  width: 340px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: rgba(17, 17, 26, 0.061) 0px 8px 24px,
    rgba(17, 17, 26, 0.189) 0px 16px 56px, rgba(17, 17, 26, 0.172) 0px 24px 80px;
}

.filterWindow header {
  order: 1;
  display: flex;
  flex-flow: row;
  height: 10%;
  background-color: hsl(0, 4%, 87%);
  border-top: 1px solid hsl(0, 0%, 90%);
  border-bottom: 1px solid hsl(0, 0%, 82%);
}

.filterWindow header button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  border: none;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  top: 2px;
  right: 6px;
  background-color: #f65d5b;
}

.filterWindow header button img {
  width: 7.1px;
  height: 7.1px;
  filter: invert(0%) sepia(0%) saturate(5071%) hue-rotate(141deg)
    brightness(99%) contrast(83%);
}

.filterWindow:hover header button:hover {
  background-color: #e53936;
  cursor: pointer;
}
.filterWindow header span {
  margin-left: auto;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 90%;
  color: var(--bluishblack);
}

.filterWindowBody {
  order: 3;
  z-index: -1;
  background-color: var(--white);
  height: 100%;
  width: 100%;
}

.filterWindow footer {
  order: 5;
  margin-top: auto;
  padding: 4.5px;
  background-color: hsla(0, 3%, 83%, 0.459);
  backdrop-filter: saturate(200%) blur(20px);
  color: #757575;
}

.filterWindowMovePointer {
  cursor: move;
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  /*  outline: solid #ee7752; */
}

.mainTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 4.5vw;
  color: var(--bluishblack);
}

.workspace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  transition: 100ms linear;
}

.workspace-left {
  transform: translate();
}

.workspace-right {
  transform: translate(-300px);
}
.currentImageContainer {
  order: 1;
  overflow: hidden;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 30px -12px;
  pointer-events: none;
}

.currentImage {
  display: block;
  height: 72vh;
  max-width: 120vh;
 /*  object-fit: cover; */
}

.leftNavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  order: 0;
}

.rightNavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  order: 2;
}

.footer {
  margin-top: auto;
  width: 100%;
  height: 4vw;
  background-color: var(--bluishblack);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.filterButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
  height: 5.5vw;
  width: 5.5vw;
  border: solid 2px transparent;
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 30px -15px;
}

.filterButton:hover {
  cursor: pointer;
}

.filterButton::before {
  content: '';
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

.filterButton:hover::before {
  opacity: 1;
  position: absolute;
  inset: 0;
  border-radius: 25%;
  padding: 3px;
  margin: -2px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
}

.buttonIcon {
  position: absolute;
  height: 70%;
  width: 70%;
  filter: invert(8%) sepia(19%) saturate(1583%) hue-rotate(182deg)
    brightness(96%) contrast(96%);
}

.inputRange {
  -webkit-appearance: none;
  width: 200px;
  height: 5px;
  background: #a8cbee;
  border-radius: 5px;
}

.inputRange::-webkit-slider-runnable-track,
.inputRange::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.inputRange:active::-webkit-slider-thumb,
.inputRange:active::-moz-range-thumb {
  outline: solid #1976d236 12px;
}

.inputRange::-webkit-slider-thumb,
.inputRange::-moz-range-thumb {
  transition: outline 75ms linear;
  -webkit-appearance: none;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  outline: solid #1976d236 7.5px;
  padding: 8px;
  background: #1976d2;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  border: none;
}

button-entry {
  display: flex;
  width: 100%;
  justify-content: end;
}

button-action {
  display: flex;
  margin: 0 1em;
  align-items: center;
}
