:root {
  --white: hsl(45, 29%, 97%);
  --bluishblack: hsl(221, 39%, 11%);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh;
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 30px 10px;
}

.mainHeader {
  display: flex;
  align-items: center;
  height: 15%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.mainTitle {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 4.5rem;
  color: var(--bluishblack);
}

.workspace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.currentImageContainer {
  order: 1;
  height: 100%;
  width: 38%;
  overflow: hidden;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 30px -12px;
}

.currentImage {
  height: 100%;
  width: 100%;
}

.leftNavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  order: 0;
}

.rightNavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  order: 2;
}

.footer {
  margin-top: auto;
  width: 100%;
  height: 4vw;
  background-color: var(--bluishblack);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.filterButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
  height: 5.5vw;
  width: 5.5vw;
  border: solid 2px transparent;
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 30px -15px;
}

.filterButton:hover {
  cursor: pointer;
}

.filterButton::before {
  content: "";
  opacity: 1;
  transition: opacity 450ms ease-in-out;
}

.filterButton:hover::before {
  opacity: 1;
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: -2.1px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
}

.buttonIcon {
  position: absolute;
  height: 70%;
  width: 70%;
  filter: invert(8%) sepia(19%) saturate(1583%) hue-rotate(182deg)
    brightness(96%) contrast(96%);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.range {
  -webkit-appearance: none;
  width: 200px;
  height: 5px;
  background: #a8cbee;
  border-radius: 5px;
}

.range::-webkit-slider-runnable-track,
.range::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.range:active::-webkit-slider-thumb,
.range:active::-moz-range-thumb {
  outline: solid #1976d236 12px;
}

.range::-webkit-slider-thumb,
.range::-moz-range-thumb {
  transition: outline 75ms linear;
  -webkit-appearance: none;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  outline: solid #1976d236 7.5px;
  padding: 8px;
  background: #1976d2;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  border: none;
}
